<form class="form-container">
{{email-input class="form-field" email=credentials.email}}
{{password-input class="form-field" password=credentials.password}}
{{password-confirmation-input class="form-field" password=credentials.passwordConfirmation}}

<button type="submit" class="submit-button" {{action "submit"}}>
  Sign Up
</button>

<button class="submit-button" {{action "reset"}}>
  Cancel
</button>
</form>
